<h1 class="title"> A Little About <%= @link.random_string %> </h1>

<p class="info">Your code <%= @link.random_string %> goes to <%= @link.url %></p>


<%= link_to "SEE ALL CODES", "/links" %> <br><br>
<%= link_to "GENERATE A NEW CODE", "/links/new" %>