<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
	
  <%= f.text_field :name, placeholder: "Name" %> <br>

  <%= f.text_field :email, placeholder: "Email" %> <br>

  <%= f.password_field :password, placeholder: "Password" %> <br>

  <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %> <br>

  <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

<% end %>

<h4>Already a User?<br><%= link_to "Sign In Here", "/signin" %></h4>