<div class="table-responsive">

<h1 class="title">The List of Generated Codes</h1>

	<table class="table table-hover">

		<th>Website URL</th>
		<th>Random String</th>
		<th>Delete</th>

		<% @links.each do |x| %>
			<tr>
				<td class="displaylinks"><%= x[:url] %></td>
				<td class="displaylinks"><%= link_to "#{x[:random_string]}", "/go/#{x[:random_string]}/preview", :method => :get %></td>
				<td><%= link_to "DELETE", "/links/#{x[:id]}", :method => :delete %></td>
			</tr>
		<% end %>

		<tr>
			<td><%= link_to "Ritly App", "/go", :method => :get %></td>
			<td></td>
			<td><%= link_to "NEW", "/links/new", :method => :get %></td>
		</tr>

	</table>

</div>