<h1 class="title show"> CONGRATS!!! </h1><br>
<h3 class="info"> You made a new code! </h3> <br><br>

<p class="info">Your code <%= @link.random_string %> goes to <%= @link.url %></p>

<%= link_to "Try It Out", "/go/#{@link.random_string}", :method => :get %>
<br>
<%= link_to "Preview", "/go/#{@link.random_string}/preview", :method => :get %>
<br>
<%= link_to "NEW", "/links/new", :method => :get %>
