<h1 class="title"> CONGRATS. . . </h1>

<p>Your code <%= @link.random_string %> goes to <%= @link.url %></p>

<%= link_to "Try It Out", "/go/#{@link.random_string}", :method => :get %>
<br>
<%= link_to "Preview", "/go/#{@link.random_string}/preview", :method => :get %>
<br>
<%= link_to "NEW", "/links/new", :method => :get %>
