<%# add navigation links to this file %>
<li style="font-family: 'Atomic Age', cursive;"><%= link_to "All", "/links" %></li>
<li style="font-family: 'Atomic Age', cursive;"><%= link_to "Create", "/links/new" %></li>

<% if signed_in? %>
	<li style="font-family: 'Atomic Age', cursive;"><%= link_to "My Profile", current_user %></li>
	<li style="font-family: 'Atomic Age', cursive;"><%= link_to "Sign Out", signout_path, method: "delete" %></li>
<% else %>
	<li style="font-family: 'Atomic Age', cursive;"><%= link_to "Sign In", "/signin" %></li>
  <li style="font-family: 'Atomic Age', cursive;"><%= link_to "Sign Up", "/signup" %></li>
<% end %>



